html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  background: white;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: calc(18px + 0.25vw);
}
.col-1-1{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-1-3 {
  width: 33.3333333332%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-1-4 {
  width: 25%;
  height: 30.584649122807rem;
  display: flex;
  align-items: center;
}

.col-2-4 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-1-7 {
  width: 14.2857142857%;
  height: 5.2951754385965em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  height: 223.63px;
  padding: 1em 0;
  position: relative;
  min-height: 6.2375rem;
}

.logo {
  display: flex;
  height: 3.9070175438596em;
  background: inherit;
  box-sizing: content-box;
  padding-top: 1.3157894736842em;
  margin-left: 1.2864035087719em;
}

.heat-2 h1 {
  background: inherit;
  font-size: 1.5438596491228rem;
  font-family: "Manjari", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.heat-2 .last-child {
  border: 3px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 0.35087719298246rem 1.3157894736842rem 0 1.3157894736842rem;
  margin-top: 1.140350877193rem;
  font-size: calc(0.9em + 0.1vw);
}

.col-1-7:last-child {
  align-items: flex-start;
}

.heat-god {
  background-color: rgb(60, 60, 60);
}

.heat-1 {
  background-color: rgb(87, 87, 87);
}

.heat-2 {
  background-color: rgb(114, 114, 114);
}

.heat-3 {
  background-color: rgb(141, 141, 141);
}

.heat-4 {
  background-color: rgb(168, 168, 168);
}

.heat-5 {
  background-color: rgb(195, 195, 195);
}

section {
  display: flex;
  flex-direction: row;
}

.big-col {
  height: 42.947368421053rem;
  background: inherit;
}

div.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

div.col > div {
  background: inherit;
  height: 33.33333333%;
  display: flex;
}

.v-center-mar {
  margin: auto 0;
}

h2.heat-god {
  width: 16.348245614035rem;
  height: max-content;
  text-align: center;
  font-size: calc(26px + (30 - 26) * (100vw - 350px) / (1300 - 350));
  font-family: "Manjari", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.00011em;
  margin-top: 1.7543859649123rem;
}

.big-white-title {
  font-family: "Manjari", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
}

.button-div {
  height: max-content;
  margin-right: 1.7543859649123rem;
  margin-top: 1.7543859649123rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 3px solid #fff;
  border-radius: 4px;
}

.button-div-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

h1.heat-1 {
  width: 17.609210526316rem;
  font-size: 2.14857em;
}

.black-title-med {
  font-size: calc(1.2em + 0.2vw);
  font-family: "Manjari", Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 13.711842105263rem;
  margin-left: 3.0701754385965rem;
}

.fle-w {
  flex-wrap: wrap;
}

.txt-center {
  text-align: center;
}

.latest-art {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: 100;
  height:max-content;
  margin-top: 1rem;
}

section .latest-art-div {
  height: 8.3640350877193rem;
  justify-content: initial;
}

.col-1-1 .button-div-parent {
  
  width:max-content;
}
.col-1-1 .button-div {
  margin-right: 0;
}
.big-a{
  height: 44.642105263158rem;
}

.personweek-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
  width: 100%;
  padding-top: 3.027681660899654rem;
}

.person-img {
  transform: scale(0.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
  height: 12.283737024221453rem;
  width: 12.283737024221453rem;
}

.person-text {
  height: 11.622837370242215rem;
  width: 66.755190311418685rem;
}

.person-img-s{
  transform: scale(0.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
  height: 3.5894736842105rem;
  width: 3.5894736842105rem;
  margin-left: 2.6315789473684rem;
}
.txt-box-img-s{
  height:6.3157894736842rem;
  width:30.131140350877rem;
}
h2.gray-txt{
  font-size: calc(18px + 1vw);
  font-family: "Manjari", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #333333;
  padding-top: 1rem;
  padding-left: 1rem;
  
}
.personweek-container-s {
  
  justify-content: start;
  margin-top: 2em;
  height: 19.059649122807rem;
  
}

.personweek-container-s > div:last-child{
  margin-left: 20px;
  flex-direction: column;
}
.alig-l > div{

  width:100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 13rem;
  background: inherit;
  justify-content: center;
  height: 18.45701754386rem;
}

.curated-articles {
  justify-content: center;
}

.curated-title {
  display: flex;
  align-self: flex-start;
  justify-self: center;
  align-items: center;
  justify-items: center;
  margin-top: 3.947368421052632rem;
  width: 18.409210526315789rem;
  height: 3.333333333333333rem;
}

.curated-txt {
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  font-size: 1.396491228070175rem;
  font-family: "Manjari", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
